---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main class="py-10 max-w-4xl bg-slate-50 mx-auto flex flex-col items-center">
    <Card title="card" imagePath="/src/assets/image-1.jpg" />
    <Card title="card" imagePath="/src/assets/image-2.jpg" />
    <Card title="card" imagePath="/src/assets/image-3.jpg" />
  </main>
</Layout>
