---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  imagePath: string;
}

const { title, imagePath } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
---

<div class="w-96">
  <h2 class="text-3xl capitalize text-center">{title}</h2>
  <Image class="h-52 rounded-md" src={images[imagePath]()} alt={title} />
</div>
